
body{
  width: 100%;
  height: 100%;
}
#main-canvas{
  background-color: black;
  cursor: pointer;
}
.image-assets{
  display:none;
}

@font-face {
  font-family: 'Soko';
  font-style: normal;
  font-weight: 400;
  src:url(../font/font.woff) format('truetype');
}